# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data
*.csv
*.h5
*.pkl

# Plots
*.png
*.jpg
*.pdf
*.html

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db